*{
    margin: 0 ;
    padding: 0;
    color:white;
}

a{
  text-decoration: none;
}

/* //////////////////////////////// */
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  

  .oswald{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* //////////////////////////////// */

header{
  position: fixed;
    background-color: #3d0000;
    width: 100vw;
    height: 10vh;
    box-shadow: 0vh 1vh 2vh #1f0000;
}

.flexContainer{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.title{
  font-size: 5vh;
}

.nav{
  width: 30vw;
  display: flex;
  justify-content: space-between;
  font-size: 2.5vh;
}

.nav a:hover{
  text-decoration: underline #ff0000;
}

section{
  height: 100vh;
}


  /* //////////////////////////////// */

  #intro{
    display: flex;
    justify-content: space-between;
    background-color: #3d0000;
  }

  #intro div{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
  }

  #introText{
    background-color: #240000;
    font-size: 4vh;
    width: 20vw;
    border: #240000 2vh solid ;
    padding:  10vh 5vh;
    border-radius: 10vh;
    text-align: center;
  }

  .introImg{
    height: 100%;
    border-radius:   0 0 0 10vh;
  }